#divheader {
    background-color: darkolivegreen;
    font-family: Verdana;
    height: 30px;
    padding-top: 2em;
    width: 100%;
    font-size: small;
}

#divleft {
    background-color: aliceblue;
    font-family: Verdana;
    height: 780px;
    padding-top: 2em;
    width: 40%;
    float: left;
}


#divCenter {
    background-color: dodgerblue;
    font-family: Verdana;
    height:780px;
    padding-top: 2em;
    width: 40%;
    border-radius: 80px;
    float: left;
}

#divfotter {
    background-color: darkolivegreen;
    font-family: Verdana;
    height: 30px;
    padding-top: 2em;
    width: 100%;
    font-size: small;
}

#divsubfotter {
    background-color: aliceblue;
    font-family: Verdana;
    height: 480px;
    padding-top: 2em;
}

#remember {
    font-family: Verdana;
    color: white;
    font-size: small;
}

.button {
    background-color: green;
    padding: 10px 26px;
    color: white;
    border-radius: 20px;
    text-align: center;
    font-size: 12px;
    font-family: Verdana;
}

    .button:hover {
        background-color: white;
        color: black;
    }
